body {
	margin-top: 1.0em;
	color: #fff;
	background-color: #000;
	font-family: "Segoe Script", helvetica, arial, sans-serif;
	font-size: 80%;
	text-align: center;
}

.container { margin: 0px; }

.both { clear:both; }

#contentWrap {
	margin-left: 160px;
	overflow:hidden;
	padding-right:160px;
}

#sidebar {
	width: 155px;
	float:left;
}

#sidebar ul {
	list-style:none;
	padding:0px;
}

#sidebar li {
	position: relative;
	width: 150px;
	height: 24px;
	text-decoration:none;
	margin: 4px 0px;
}

#sidebar li p {
	position:absolute;
	top:0px;
	left:0px;
	width:150px;
	height:24px;
	line-height:24px;
	font-weight:bold;
	margin:0px;
	padding:0px;
}

.buttonLeave {
	color: #fff;
	background: url("/images/button.png") no-repeat 0px -48px;
}

.buttonEnter {
	color: #dda520;
	background: url("/images/button.png") no-repeat 0px -24px;
}

#sidebar li a {
	position:absolute;
	top:0px;
	left:0px;
	display:block;
	width:150px;
	height:24px;
	background: url("/images/button.png") no-repeat 0px 0px;
}

h1 { font-size: 3.8em; color: #fff; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #fff; }
h3 { text-align: center; color: #fff; }

a { color: #fff; }

.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}

.download { float: right; }

pre { background: #000; color: #fff; padding: 15px; }

hr { border: 0; width: 80%; border-bottom: 1px solid #aaa; }

.footer { text-align:center; padding-top:30px; font-style: italic; }

a img { text-decoration: none; }

img { border:0px; }

dt a {
	color: #fff;
	background-color: transparent;
}

dt a:hover{
	border-color: #fff;
	text-decoration: none;
}

dt{
	font-size: 1.62em;
	font-weight: bold;
	white-space: nowrap;
}

dd{
	color: #606060;
	background-color: transparent;
}

dt, dd{
	display: inline;
	line-height: 1.5em;
	margin: 1em;
	padding: 0;
}

#repos-list-tag {
	text-align: center;
	margin: 2em 0;
}

#swap {
	width:185px;
	height:78px;
	background: url(/images/1_loading.gif) no-repeat center 5px;
	margin: 0 auto;
}

#swap p {
	position: relative;
	top: 40px;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.swap {
	position:absolute;
	top:0px;
	width:185px;
	height:78px;
	z-index:0;
	display:block;
	/*display:none;*/
}

.swap:hover { cursor:pointer; }

.active { display:block; z-index:1 }

.elementSwap {
	position:relative;
	width:185px;
	height:78px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

#el1 {background-color:#f00;}
#el2 {background-color:#0f0;}
#el3 {background-color:#00f;}

.div_swap {
	position:absolute;
	top:0px;
	width:300px;
	height:300px;
	/*display:none;*/
}

.elementSwapDemo {
	position:relative;
	width:300px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

#demo {
		position: relative;
		width:400px;
		height: 200px;
		margin: 10px;
		margin:0 auto;
}
#me1 {
		left:200px;
		width: 200px;
		height: 200px;
		background-color: #f00;
		margin:0px;
		padding:0px;
		overflow:auto;
}
#effect {
		margin:0px;
		padding:0px;
		width:150px;
		text-align:left;
		float:left;
		list-style:none;
}
#effect a:hover { text-decoration:none; }

.mask {
	position: absolute;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 999;
	background: #0b0b0b;
}

.spinner {
	position: absolute;
	opacity: 0.9;
	filter: alpha(opacity=90);
	z-index: 999;
	background: #0b0b0b;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url(/images/1_loading.gif) no-repeat;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}